<nav class="navbar">
    <div class="navbar-content">
        <div class="title">
            <a routerLink="/">
                Manisics Lodheee
            </a>
        </div>
        <div class="search" *ngIf="menuType==='default'">
            <input #inputSearch type="search" placeholder="Search for products" (blur)="hideSearch()"
                (keyup)="searchProduct($event)">
            <button (click)="searchSubmit(inputSearch.value)">Search</button>
            <ul class="search-result" *ngIf="searchResult">
                <li *ngFor="let search of searchResult">
                    <a (mousedown)="redirectToDeatils(search.id )">{{search.name | titlecase}}</a>
                </li>
            </ul>
        </div>
        <div class="lists" [ngSwitch]="menuType">
            <ul *ngSwitchCase="'default'">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/seller">Seller</a></li>
                <li><a routerLink="/user-auth">Login</a></li>
                <li><a>Cart <span style="color:red;">{{cartItems}}</span></a></li>
            </ul>
            <ul *ngSwitchCase="'user'">
                <li><a routerLink="/">Home</a></li>
                <li><a routerLink="/seller">Seller</a></li>
                <li><a>{{userName}}</a></li>
                <li><a (click)="logoutUser()">Logout</a></li>
                <li><a routerLink="/cart-details">Cart <span style="color:red;">{{cartItems}}</span></a>
                </li>
            </ul>
            <ul *ngSwitchCase="'seller'">
                <li><a routerLink="/seller-home">Product List</a></li>
                <li><a routerLink="/add-product">Add Product</a></li>
                <div class="dropdown">
                    <a class="profile-link">{{sellerName | titlecase}}</a>
                    <div class="dropdown-content">
                        <a mat-raised-button (click)="openDialog()">View Profile</a>
                        <a href="#">Edit Profile</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </div>
            </ul>
        </div>
    </div>
</nav>