<div class="orders">
    <div class="orders-content">
        <div class="title">
            <h1>My Order</h1>
        </div>
        <div class="head">
            <span>order</span>
            <span>id</span>
            <span>price</span>
            <span>status</span>
            <span>action</span>
        </div>
        <div class="flex">
            <div class="order">
                <img
                    src="https://img.freepik.com/free-photo/woman-black-trousers-purple-blouse-laughs-leaning-stand-with-elegant-clothes-pink-background_197531-17614.jpg?size=626&ext=jpg&ga=GA1.1.1501544341.1695617338&semt=ais">
            </div>
            <div class="order-id">
                <span>45</span>
            </div>
            <div class="price">
                <span>15200</span>
            </div>
            <div class="status">
                <span>In progress</span>
            </div>
            <div class="action">
                <span>remove</span>
            </div>
        </div>
        <div class="flex">
            <div class="order">
                <img
                    src="https://img.freepik.com/free-photo/pair-trainers_144627-3799.jpg?size=626&ext=jpg&ga=GA1.1.1501544341.1695617338&semt=sph">
            </div>
            <div class="order-id">
                <span>25</span>
            </div>
            <div class="price">
                <span>7200</span>
            </div>
            <div class="status">
                <span>In progress</span>
            </div>
            <div class="action">
                <span>remove</span>
            </div>
        </div>
        <div class="flex">
            <div class="order">
                <img
                    src="https://img.freepik.com/premium-photo/unbranded-modern-sporty-shoes-sneakers-white-isolated_120794-337.jpg?size=626&ext=jpg&ga=GA1.1.1501544341.1695617338&semt=sph">
            </div>
            <div class="order-id">
                <span>22</span>
            </div>
            <div class="price">
                <span>5866</span>
            </div>
            <div class="status">
                <span>In progress</span>
            </div>
            <div class="action">
                <span>remove</span>
            </div>
        </div>
        <div class="flex">
            <div class="order">
                <img
                    src="https://img.freepik.com/free-photo/elegant-smartphone-composition_23-2149437106.jpg?size=626&ext=jpg&ga=GA1.1.1501544341.1695617338&semt=sph">
            </div>
            <div class="order-id">
                <span>18</span>
            </div>
            <div class="price">
                <span>8200</span>
            </div>
            <div class="status">
                <span>In progress</span>
            </div>
            <div class="action">
                <span>remove</span>
            </div>
        </div>
    </div>
</div>